/* ====================== Restaurant HomePage ====================== */

body,
header,
main {
  width: 100%;
}

body {
	flex-wrap: wrap;
}

/* Header */

header {
  margin: auto;
}

nav h1 {
	padding: 20px;
}

/* Section */

#map-container {
	position: relative;
}

.filter-options {
	padding: 20px;
}

#restaurants-list {
	display: block;
	width: 100%;
}

#restaurants-list li {
	padding: 20px 15px;
	width: 40%;
	float: left;
}

#restaurants-list li a{
	border-radius: 4px;
}

#restaurants-list li a:focus,
#restaurants-list li a:hover {
  background: #c2185b;
  color: #fff;
  text-decoration: underline;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 3px 1px -2px rgba(0, 0, 0, .2),
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

/* Footer */

footer {
  width: 100%;
}

/* Media Queries Restaurant Homepage */

@media screen and (max-width: 443px){
  .filter-options {
    display: table;
  }
}

@media screen and (max-width: 800px){
  #restaurants-list li {
  	width: 80%;
    margin: 2px -40px;
  }
}

/* ====================== Restaurant Detail Page ====================== */

/* Section */

#restaurant-img {
	margin: 2px -40px;
}

figcaption {
  font-style: italic;
  margin: 2px -40px;
}

.inside #footer {
  width: 100%;
}

/* Media Queries Restaurant Details Page */

@media screen and (max-width: 799px) {
  #restaurant-container {
    order: -1;
    width: 100%;
    margin: 440px 0 0 0;
  }

  .inside #map-container {
    width: 100%;
    position: absolute;
    max-height: 20%;
  }

  #reviews-container {
    order: 1;
    width: 100%;
  }

  .inside #footer {
    order: 2;
    position: fixed;
  }
  #restaurant-address,
  #restaurant-hours td,
  #reviews-list li p {
    font-size: 1.14em;
  }
}

@media screen and (max-width: 550px) {
    #reviews-container {
      margin: 0 0 0 -30px;
    }
}
